<div class="home">
    
    <div class="slider">
            <h2 class="slider_absolute">好きなYoutubeの野球動画を<br>自分の好きなように熱く語るブログサイト!!!</h2>
            <!--  横に並べた複数のスライドを格納する用コンテナ  -->
           <ul class="slider_container">
                <!--  各スライド -->
               <img src="/assets/baseball3.jpg" alt="野球の画像" class="slider_item slider_item1">
               <!--<img src="/assets/baseball4.jpg" alt="野球の画像" class="slider__item slider__item1">
               <img src="/assets/baseball2.jpg" alt="野球の画像" class="slider__item slider__item1">-->
           </ul>
    </div>
    <div class="home_top">
        <h1>野球を<br>　　あつく<br>　　　かたれ！！！</h1>
        <img src="/assets/baseball1.jpg" alt="野球ボールの画像です">
    </div>
    <div class="site-description">
        <ul>
            <li><p class="site-description_title">最近の記事</p></li>
            <li style="display:flex; flex-wrap:wrap; justify-content:space-around;">
                <%= render "newarticle" %>
            </li>
        </ul>
    </div>

</div>