// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.articles{
    width:100%;
    display:flex;
    margin-top: 3rem;
    padding:10px;
    .articles_group{
        width:90%;
        select{
            display:none;
        }
    }
    .articles_box,.articles_single{
        display: flex;
        .article_edit {
            font-size: 3vmin;
        }
        .article_title{
            font-size:2.4rem;
        }
        .article_body{
            font-size:1.5rem;
        }
        .article{
            width:45%;
        }
    }
    .articles_box{
        justify-content: space-between;
        flex-wrap :wrap;
    }
    .articles_single{
        width: 60%;
        margin: 0 auto;
    }
    .pagination {
        font-size: 3vmin;
        float: right;
        padding: 10px 5px 0 0;
    }
}
.article_create{
    display: flex;
    justify-content: center;
    .page-title{
        margin-bottom:2rem;
        font-size:2rem;
    }
    form{
        #article_body {
            width: 100%;
        }
        .field{
            input{
                width:100%;
                height: 3.5rem;
                // font-size:100%;
                padding:0 0 0 5px;
                margin:0 auto 2rem auto;
    
            }
            textarea{
                border: 1px solid rgba(0,0,0,0.2);
                padding: 5px;
                margin-bottom:2rem;
            }
        }
        .article_submit{
            margin-top:2rem;
        }
        input[type="submit"] {
            font-size: 1.5rem;
            padding: 5px;
        }
           
    }
}
@media (min-width:1800px){
    .articles{
        .articles_box,.articles_single{
            .article{
                width:33%;
            }
        }
    }
}
@media (max-width:768px){
    .articles{
        .articles_box{
            .article{
                iframe{
                    height:100px;
                    width:200px;
                }
            }
        }
        .articles_group{
            .articles_single{
                iframe{
                    height:200px;
                    width:300px;
                }
            }
        }
    }
}
@media (max-width:486px){
    .article_create{
        padding-top:3em;
    }
    .articles{
        margin:0;
        padding-top:3em;
        .articles_box{
            .article{
                width:100%;
                iframe{
                    height:150px;
                    width:250px;
                }
            }
        }
        .articles_group{
            width:95%;
            div{
                display:block !important;
            }
            select{
                display:block;
                margin-left: 30px;
                width: 100px;
                height: 40px;
            }
            .articles_single{
                width:100%;
                .article{
                    width:100%;
                }
            }
        }
        h1{
            font-size:2.5rem !important;
        }
    }
    
}